#roast-selection {
    color: #735C3F;
}
hr {
    height: 30px;
    border-style: solid;
    border-color: #403221;
    border-width: 4px 0 0 0;
    border-radius: 20px;
}
header {
    background-color: #735C3F;
    border: solid 2px #403221;
    font-weight: bold;
}
.header-img {
    background-image: url("img/pexels-bianca-gonçalves-1752806.jpg");
    height: 15em;
    background-size: 100% auto;
    margin: auto;
}
body {
    background-color: #D8D9D7;
}
main {
    background-image: url("img/pexels-cottonbro-3944418.jpg");
}
.btn {
    background-color: #A68C6D;
    color: white;
}
h1 {
    font-family: 'Gochi Hand', cursive;
    color: #403221;
}


